doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Learn Arabic
    style 
        include ../public/css/english-content.css
    script(src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate")
  body
    header
      nav.navbar
        .website-general
          img.logo(
            alt="Logo" 
            src="/img/website-logo.png"
            )
          h2.logo
            a.name(href="#") Bahu Bhasha
        input#menu-toggler(type="checkbox")
        label#hamburger-btn(for="menu-toggler")
          svg(
            height="24px" 
            width="24px" 
            fill="white" 
            viewBox="0 0 24 24" 
            xmlns="http://www.w3.org/2000/svg"
            )
            path(
              fill="none" 
              d="M0 0h24v24H0z"
              )
            path(d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z")
        ul.all-links
          .google-translator(id="google_element")
          li
            a(
              target="_parent" 
              href="/"
              ) Home
          li
            a(
              target="_parent" 
              href="/explore"
              ) Back
    .basic
      p.quote New language, new opportunities, new you with a complete roadmap.
      br
      p
        | Unlock the door to accelerated learning with our concise lessons curated by experts. Dive into a rich
        |   community of native speakers, forging connections that propel your word mastery at an unbeatable pace.
        |   Embrace the power of swift, effective learning as you navigate through compact lessons and engage with a
        |   vibrant community of language enthusiasts. Elevate your language skills with us and experience the joy of
        |   mastering words faster in the company of seasoned instructors and language aficionados.
      br
      p.beginner-header English for Beginners
      br
      li(style="list-style-type: square;")
        | Unit-1
        ul(style="color: green; list-style-type: none;")
          br
          p.video-title Alphabets
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/QSLtNmRflBU?rel=0"
              )
          p.video-title Signs and Symbols
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/meQsEM3V2m8?rel=0"
              )
          p.video-title Numbers
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/DIZccyhU_W0?rel=0"
              )
          br
      li(style="list-style-type: square;")
        | Unit-2
        ul(style="color: green; list-style-type: none;")
          p.video Recognizing the words
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/SDA6f2cCkjY?rel=0"
              )
          p.video-title Arabic phrases
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/IIjldaHFBHE?rel=0"
              )
          p.video-title Advanced Arabic Title
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/16GXZ7DVV-o?rel=0"
              )
          br
      button
        a.quiz(href="/arabicquiz1")
          | Test your
          |   knowledge
      br
      br
      p.Intermediate-header English for Intermediate
      br
      li(style="list-style-type: square;")
        | Unit-1
        ul(style="color: green;list-style: none;")
          br
          p.video-title How to start conversation
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/X1mC1XY65Kc?rel=0"
              )
          p.video-title Grammer
          li
            iframe.iframe-video(
              frameborder="0" 
              src="https://www.youtube.com/embed/videoseries?list=PL7ryrm4bCxy8Hkdco9fRz3LGffuQqeMD4"
              )
          br
      button
        a.quiz(href="/arabicquiz2")
          | Test your
          |   knowledge
      br
      br
      p
      li(style="list-style-type: square;")
        | Here are some additional tips specifically related to communication for
        |   intermediate English learners:
        ul(style="color: gray;")
          br
          li
            | Engage in Real Conversations:
            |   Actively seek opportunities for meaningful conversations.
            |   Participate in discussions on various topics to enhance communication skills.
            br
            | تفاعل في محادثات حقيقية: ابحث بنشاط عن فرص لإجراء محادثات ذات مغزى. شارك في مناقشات حول مواضيع
            |   مختلفة لتعزيز مهارات التواصل.
            br
          li
            | Expressing Opinions:
            |   Practice expressing your opinions clearly and confidently.
            |   Use phrases like "I think," "In my opinion," or "From my perspective" to articulate your
            |   thoughts.
            br
            | التعبير عن الآراء:
            br
            | قم بممارسة التعبير عن آرائك بوضوح وبثقة.
            br
            | استخدم عبارات مثل "أعتقد"، "في رأيي"، أو "من وجهة نظري" للتعبير عن أفكارك.
            br
          li
            | Active Listening:
            |   Focus on becoming an active listener.
            |   Respond appropriately to what others are saying to demonstrate understanding.
            br
            | الاستماع الفعّال:
            br
            | ركز على أن تصبح مستمعًا فعّالًا.
            br
            | رد بشكل مناسب على ما يقوله الآخرون لتظهر الفهم.
            br
          li
            | Expand Conversation Topics:
            |   Challenge yourself to discuss a wide range of subjects.
            |   Explore current events, hobbies, or personal experiences in conversations.
            br
            | توسيع مواضيع الحديث:
            br
            | تحدى نفسك لمناقشة مواضيع متنوعة.
            br
            | استكشف الأحداث الحالية، أو الهوايات، أو التجارب الشخصية في المحادثات.
            br
          li
            | Politeness and Diplomacy:
            |   Learn polite expressions and diplomatic language for various situations.
            |   Understand cultural nuances in communication to avoid misunderstandings.
            br
            | اللباقة والدبلوماسية:
            br
            | تعلم التعبيرات اللطيفة ولغة الدبلوماسية لمختلف الحالات.
            br
            | فهم التفاصيل الثقافية في التواصل لتجنب السوء في التفاهم.
            br
          li
            | Mastering Small Talk:
            |   Practice engaging in small talk in social situations.
            |   Learn common phrases used for introductions and casual conversations.
            |   Building Fluency:
            br
            | احتراف المحادثات الصغيرة:
            br
            | قم بممارسة الدخول في محادثات صغيرة في المواقف الاجتماعية.
            br
            | تعلم العبارات الشائعة المستخدمة للتعارف والمحادثات العابرة.
            |   بناء اللغة بطلاقة:
            br
          li
            | Active Listening:
            |   Focus on becoming an active listener.
            |   Respond appropriately to what others are saying to demonstrate understanding.
            br
            | الاستماع الفعّال:
            br
            | كن مركز الانتباه لتصبح مستمعًا فعّالًا.
            br
            | رد بشكل مناسب على ما يقوله الآخرون لتظهر الفهم.
            br
          li
            | Expand Conversation Topics:
            |   Work on speaking fluently without overthinking.
            |   Focus on the flow of your speech and minimize pauses.
            br
            | توسيع مواضيع الحديث:
            br
            | اعمل على الحديث بطلاقة دون التفكير الزائد.
            br
            | ركز على تدفق كلامك وقلل من التوقفات.
            br
          li
            | Storytelling Skills:
            |   Improve your storytelling abilities.
            |   Share personal anecdotes and experiences to make your conversations more engaging.
            br
            | مهارات السرد:
            br
            | طور مهاراتك في السرد.
            br
            | شارك في الحديث بتجارب وقصص شخصية لجعل محادثاتك أكثر إشراكًا.
            br
          li
            | Role-playing Exercises:
            |   Engage in role-playing scenarios to practice real-life communication.
            |   Mimic workplace conversations or social interactions to enhance practical language skills.
            br
            | تمارين التأديب:
            br
            | شارك في مشاهد لعب الأدوار لممارسة التواصل في الحياة الواقعية.
            br
            | قم بتقليد محادثات العمل أو التفاعلات الاجتماعية لتعزيز المهارات اللغوية العملية.
            br
          li
            | Public Speaking:
            |   Explore opportunities for public speaking.
            |   Presenting in front of a group helps build confidence and communication skills.
            br
            | الخطابة العامة:
            br
            | استكشف فرص الخطابة العامة.
            br
            | القاء الخطب أمام مجموعة يساعد على بناء الثقة وتطوير مهارات التواصل.
            br
          li
            | Use Technology to Connect:
            |   Use Technology to Connect:Join online forums or social media groups where English is the primary
            |   language.
            |   Engage in written and spoken conversations to enhance digital communication skills.
            |   Remember, communication is a dynamic skill that improves with consistent practice and exposure
            |   to diverse language situations. Embrace challenges, learn from your experiences, and celebrate
            |   the progress you make along the way.
            br
            | استخدام التكنولوجيا للتواصل:
            br
            | انضم إلى منتديات عبر الإنترنت أو مجموعات على وسائل التواصل الاجتماعي حيث يكون الإنجليزية اللغة
            |   الرئيسية.
            br
            | شارك في المحادثات الكتابية والشفوية لتعزيز مهارات الاتصال الرقمي.
            br
            | تذكر، التواصل هو مهارة ديناميكية تتحسن من خلال الممارسة المستمرة والتعرض لمواقف لغوية متنوعة.
            |   تقبل التحديات، وتعلم من تجاربك، واحتفل بالتقدم الذي تحققه على طول الطريق.
          br
        p
    script.
      function loadGoogleTranslate() {
        new google.translate.TranslateElement("google_element");
        }